@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginLayout{
    background-image: url(https://i.ibb.co/cwCw0cZ/danny-howe-bn-D2b-Cvpik-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login-logo{
    font-family: 'Pacifico', cursive;
    font-size: 7.5rem;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;

}

.login-card{
    background-color:#871400c7;
    border-radius: 10px;
    padding: 25px 25px 5px;
    top: 35%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-title{
    color: white;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login{
    margin: 0 auto;
}