.tableButton{
    margin: 3px;
    justify-content: center;
}
.discTable{
margin: 1rem 2rem;
}
.ant-table-title{
    height: 50px;
}

.btn-create{
   display: block;
   position: absolute;
   top: 0.5rem;
   right: 1rem
}